---
layout: default
---

<div class="row blog-post">
    <div class="col-12 col-lg-7">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="meta">
            <div class="date-location">
                {{ page.date | date: "%B %d, %Y "}}{% if page.location != null %} - {{ page.location }}{% endif %}
            </div>
            {% if page.tags != null %}
                <div class="tags">
                    <i class="icon-tags"></i>&nbsp;Tags:&nbsp;
                    {% for tag in page.tags %}
                        <a href="/blog/tag/{{ tag }}"><span class="label label-info">{{ tag }}</span></a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="post">
            <div>
                {{ content }}
            </div>
            <div class="fork-and-edit">
                <em>By the way, if you found a typo, please <a href="http://github.com/remiii/remiii.github.com">fork and edit this post</a>. Thank you so much!</em>
            </div>
        </div>

        <!-- start wrapper - post social -->
        <div class="post-social">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-text="{{ page.title }}" data-via="Remiii_">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <iframe src="http://www.facebook.com/plugins/like.php?href={{ site.url }}{{ page.url }}" scrolling="no" frameborder="0" style="border:none; width:470px; height:24px"></iframe>
        </div>
        <!-- end wrapper - post social -->

        <!-- start wrapper - Disqus -->
        <div id="comment">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'remibarbe'; // required: replace example with your forum shortname
                var disqus_identifier = '{{ page.url }}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
        <!-- end wrapper - Disqus -->

    </div>

    <div class="col-lg-4 col-offset1 blog-infos hidden-sm">
        <h2>RSS</h2>
        <ul>
            <li><a href="/blog/atom.xml">Flux ATOME</a></li>
            <li><a href="/blog/atom.xml">Flux RSS</a></li>
        </ul>
        <h2>Autres posts</h2>
        <ul>
            {% for post in site.posts limit:20 %}
                <li><a href="{{ post.url }}">{{ post.title | truncate: 40 }}</a></li>
            {% endfor %}
        </ul>
        <h2>Cloud Tag</h2>
        {% for tag in site.tags %}
                <a href="/blog/tag/{{ tag | first }}" style="font-size:{{tag | last | size | times:200 | divided_by:site.tags.size | plus:100}}%">{{ tag | first }}</a>&nbsp;
        {% endfor %}
        <ul>
    </div>

</div>
